<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql//localhost:3306/shopKyryl</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">rvrv2d2d</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.hbm2ddl.auto">udpate</property>
        <mapping class="com.chandu.app.model.UserDetails"/>
    </session-factory>
    </hibernate-configuration>